<div class="row">
    <div class="col-md-4">
        @Html.DevExpress().ComboBox(x =>
   {
       x.Name = "CarriageCmbbox";
       x.Properties.Caption = "Carrier";
       foreach (var dat in (List<string>)ViewData["carrierFill"])
       {
           x.Properties.Items.Add(dat);
       }
       x.Properties.ClientSideEvents.SelectedIndexChanged = "SettbxValue";
   }).GetHtml();
    </div>
    <div class="col-md-4">@Html.DevExpress().TextBox(x =>
   {
       x.Name = "CarriageTexbox";
       x.Properties.Caption = "Carrier";
       x.ReadOnly=true;
   }).GetHtml();</div>
    <div class="col-md-4">@Html.DevExpress().ComboBox(x =>
   {
       x.Name = "CarriageStyleCmbbox";
       x.Properties.Caption = "Carrier";
       foreach (var dat in (List<string>)ViewData["carrierStyleFill"])
       {
           x.Properties.Items.Add(dat);
       }
       x.Properties.ClientSideEvents.SelectedIndexChanged = "SettbxValue";
   }).GetHtml();</div>

</div>