@media  (min-width: 1400px) {
}
 
@media (min-width: 1600px) {
  
}
@media (min-width: 1900px) {
   
}
 

.container1 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
 
 