@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Error";
}

<div class="accountHeader">
    <h2>Error</h2>
    <p>Oops! it  seems like an error has occured, Please try logging off and logging on again</p>
    <br />
    <br />
   Click here to <a href="/User/LogOff/" style="cursor:pointer;">Log Off</a>
</div>