@{
    var cardView = Html.DevExpress().CardView(settings =>
    {
        settings.Name = "CardViewByStyle";
        settings.CallbackRouteValues = new { Controller = "Home", Action = "GetcardOnDemand" };

        settings.SettingsEditing.AddNewCardRouteValues = new { Controller = "Home", Action = "CardViewPartial132AddNew" };
        settings.SettingsEditing.UpdateCardRouteValues = new { Controller = "Home", Action = "CardViewPartial132Update" };
        settings.SettingsEditing.DeleteCardRouteValues = new { Controller = "Home", Action = "CardViewPartial132Delete" };
        settings.SettingsEditing.Mode = CardViewEditingMode.EditForm;
        settings.SettingsBehavior.ConfirmDelete = true;
        var colc = Session["cardColumns"];
        settings.SettingsPager.SettingsTableLayout.ColumnCount = 1;
        settings.SettingsPager.SettingsTableLayout.RowsPerPage = 10;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.KeyFieldName = "StyleID";
        settings.SettingsPager.Visible = true;
        settings.SettingsBehavior.AllowSelectByCardClick = true;
        settings.Columns.Add("StyleID");
        settings.Columns.Add("Description");
        settings.Columns.Add("StyleImage");
        settings.Columns.Add("ColourId");
        settings.Columns.Add("SizeId");
        settings.Columns.Add("Price");
        settings.Columns.Add("Quantity");
        settings.Columns.Add("BasketButton");
        var selUcode = Session["SelectedUcode"].ToString();
        Maximus.Models.e4kmaximusdbEntities entity = new Maximus.Models.e4kmaximusdbEntities();
        settings.CardLayoutCreated = (sender, e) =>
        {
            MVCxCardView cv = sender as MVCxCardView;

            if (e.VisibleIndex >= 0)
            {
                string BusinessId = Session["BuisnessId"].ToString();
                var reasons = entity.tblsop_reasoncodes.Where(xs => xs.BusinessId == BusinessId).Select(c => new { c.Description }).ToList();
                if (reasons.Count == 0)
                {
                    e.Properties.Items[7].ParentContainerStyle.CssClass = "itemToHide";
                }
            }
        };

        settings.CardLayoutProperties.ColCount = 2;
        settings.CardLayoutProperties.Items.Add(i =>
        {
            i.ColumnName = "StyleImage";
            i.ShowCaption = DefaultBoolean.False;
            i.RowSpan = 8;
            i.VerticalAlign = FormLayoutVerticalAlign.Middle;
            i.SetTemplateContent(x =>
            {

                var Assembly = Convert.ToInt16(DataBinder.Eval(x.DataItem, "Assembly"));
                var style = DataBinder.Eval(x.DataItem, "StyleID");
                var styleimg = DataBinder.Eval(x.DataItem, "StyleImage");
                ViewContext.Writer.Write(string.Format("<br/><br/><img src=\"{0}\"  height='70%' width='70%' onclick='Getimage(\"{0}\")' /> <br/><br/>", styleimg));
                string popname = string.Format("{0}_{1}", "pop", style);
                ViewContext.Writer.Write("<div class='row'>");
                if (Assembly != 0)
                {

                    ViewContext.Writer.Write(string.Format("<div class='col-md-6 col-xs-6 col-sm-6 col-lg-6'><center><br/><br/><br/><img src='/Content/Images/embroidery.png' title='Get Assembly info' height='40' width='30' onclick=\"getAssembly('{0}');\"/></center>", style));
                }
                bool value = (bool)(DataBinder.Eval(x.DataItem, "isAllocated"));
                if (Session["ColorSizestyle"].ToString() == "SWATCHES")
                {
                    if (value != true)
                    {
                        ViewContext.Writer.Write(string.Format("<center><img src='/Content/Images/empHistory.png' title='Entitlement and previous history' height='40' width='40' onclick=\"getEntitlementDemandSwatch('{0}');\"/></center></div>", style));
                    }
                }
                else
                {
                    if (value != true)
                    {
                        ViewContext.Writer.Write(string.Format("<center><img src='/Content/Images/empHistory.png' title='Entitlement and previous history' height='40' width='40' onclick=\"getEntitlementonDemand('{0}');\"/></center></div>", style));
                    }
                }

                ViewContext.Writer.Write("</div>");
            });

        });
        settings.CardLayoutProperties.Items.Add(x =>
        {
            x.ColumnName = "StyleID";
            x.Caption = "Style";
            x.SetTemplateContent(col =>
            {
                var style = (DataBinder.Eval(col.DataItem, "StyleID")).ToString();
                if (style.Contains(','))
                {
                    Html.DevExpress().ComboBox(
                        c =>
                        {
                            var styleArr = style.Split(',');
                            c.Name = "styleDimviewDrp_" + style;
                            foreach (string data in (string[])styleArr)
                            {
                                c.Properties.Items.Add(data);

                            }
                            c.SelectedIndex = 0;
                            c.Properties.ClientSideEvents.SelectedIndexChanged = "GetDrpResultModelDim";
                        }
                                        ).Render();
                }
                else
                {
                    ViewContext.Writer.Write(style);
                }
            });


        });
        settings.CardLayoutProperties.Items.Add(x =>
        {
            x.ColumnName = "Description";
            x.SetTemplateContent(col =>
            {
                var style = (DataBinder.Eval(col.DataItem, "StyleID")).ToString();

                if (style.Contains(','))
                {
                    var styleArr = style.Split(',');
                    var style1 = styleArr[0];
                    ViewContext.Writer.Write(string.Format("<div id='DimviewDescription" + style1 + "'>{0}</div>", entity.tblfsk_style.Where(s => s.StyleID == style1).FirstOrDefault().Description));
                }
                else
                {
                    ViewContext.Writer.Write(string.Format("<div id='DimviewDescription" + style + "'>{0}</div>", entity.tblfsk_style.Where(s => s.StyleID == style).FirstOrDefault().Description != null ? entity.tblfsk_style.Where(s => s.StyleID == style).FirstOrDefault().Description.ToString() : ""));
                }
            });
        });
        settings.CardLayoutProperties.Items.Add(x =>
        {
            x.ColumnName = "ColourId";
            x.Caption = "Colour";
            x.SetTemplateContent(col =>
            {
                var style = (DataBinder.Eval(col.DataItem, "StyleID")).ToString();
                if (Session["ColorSizestyle"].ToString() != "SWATCHES")
                {
                    if (style.Contains(','))
                    {
                        Html.DevExpress().ComboBox(
                            c =>
                            {
                                var styleArr = style.Split(',');
                                string style1 = styleArr[0].ToString();
                                c.Name = "ColorDimview_" + "Drop_" + style;
                                List<string> colorIdLst = (List<string>)entity.tblfsk_style_colour_size.Where(s => s.StyleID == style1).Select(s => s.ColourID).Distinct().ToList();
                                foreach (string data in colorIdLst)
                                {
                                    c.Properties.Items.Add(data);
                                }
                                if (colorIdLst.Count() == 1)
                                { c.SelectedIndex = 0; c.Enabled = false; }
                                c.Properties.ClientSideEvents.SelectedIndexChanged = "getSelectedColor";
                            }
                                            ).Render();
                    }
                    else
                    {
                        Html.DevExpress().ComboBox(
                            c =>
                            {
                                c.Name = "ColorDimview_" + "Drop_" + style;
                                List<string> colorIdLst = (List<string>)entity.tblfsk_style_colour_size.Where(s => s.StyleID == style).OrderBy(s => s.ColourID).Select(s => s.ColourID).Distinct().ToList();
                                foreach (string data in colorIdLst)
                                {
                                    c.Properties.Items.Add(data);

                                }
                                if (colorIdLst.Count() == 1)
                                { c.SelectedIndex = 0; c.Enabled = false; }
                                c.Properties.ClientSideEvents.SelectedIndexChanged = "getSelectedColor";
                            }
                                            ).Render();
                    }
                }
                else
                {
                    var content = "<fieldset class='swatch-picker' name=\"Swatch_DemColor_FieldSet_"+style+"\">";
                    if (style.Contains(','))
                    {
                        var styleArr = style.Split(',');
                        string style1 = styleArr[0].ToString();
                        List<string> colorIdLst = (List<string>)entity.tblfsk_style_colour_size.Where(s => s.StyleID == style1).Select(s => s.ColourID).Distinct().ToList();
                        foreach (string data in colorIdLst)
                        {
                            var hexcode = entity.tblfsk_colour.Any(da => da.Description.Contains(data)) ? entity.tblfsk_colour.Where(da => da.Description.Contains(data)).First().Colour_hexcode : "";
                            if (colorIdLst.Count>1)
                            {
                                content = content + string.Format("<label><input type='radio'  id='radio' name=\"swatch_DemandColor_" + style + "\" class='' value='blue'/><span style='display: block;border-radius:5px;  height:100%;width:100%;background:" + hexcode + "' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\" ><center><bold>{1}</bold></center></span></label>", style, data);
                            }
                            else
                            {
                                content = content + string.Format("<label><input type='radio'  id='radio' name=\"swatch_DemandColor_" + style + "\" class='' value='blue' checked=\"checked\"/><span style='display: block;border-radius:5px;  height:100%;width:100%;background:" + hexcode + "' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\" ><center><bold>{1}</bold></center></span></label>", style, data);
                            }

                        }
                    }
                    else
                    {
                        List<string> colorIdLst = (List<string>)entity.tblfsk_style_colour_size.Where(s => s.StyleID == style).OrderBy(s => s.ColourID).Select(s => s.ColourID).Distinct().ToList();
                        foreach (string data in colorIdLst)
                        {
                            var hexcode = entity.tblfsk_colour.Any(da => da.Description.Contains(data)) ? entity.tblfsk_colour.Where(da => da.Description.Contains(data)).First().Colour_hexcode : "";
                            if (colorIdLst.Count>1)
                            {
                                content = content + string.Format("<label><input type='radio'  id='radio' name=\"swatch_DemandColor_" + style + "\" class='' value='blue'/><span style='display: block;border-radius:5px;  height:100%;width:100%;background:" + hexcode + "' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\"><center><bold>{1}</bold></center></span></label>", style, data);
                            }
                            else
                            {
                                content = content + string.Format("<label><input type='radio'  id='radio' name=\"swatch_DemandColor_" + style + "\" class='' value='blue' checked=\"checked\"/><span style='display: block;border-radius:5px;  height:100%;width:100%;background:" + hexcode + "' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\"><center><bold>{1}</bold></center></span></label>", style, data);

                            }

                        }
                    }
                    content = content + "</fieldset>";
                    ViewContext.Writer.Write(content);
                }
            });

        });

        settings.CardLayoutProperties.Items.Add(x =>
        {
            x.ColumnName = "SizeId";
            x.Caption = "Size";
            x.SetTemplateContent(col =>
            {
                var style = (DataBinder.Eval(col.DataItem, "StyleID")).ToString();
                Maximus.Models.PreviousQty prevHistory = (Maximus.Models.PreviousQty)(DataBinder.Eval(col.DataItem, "HasPreviousSize"));
                if (Session["ColorSizestyle"].ToString() != "SWATCHES")
                {
                    if (style.Contains(','))
                    {
                        Html.DevExpress().ComboBox(
                            c =>
                            {
                                var styleArr = style.Split(',');
                                string style1 = styleArr[0].ToString();
                                c.Name = "SizeDimview_" + "Drop_" + style;
                                List<string> sizeIdLst = (List<string>)entity.tblfsk_style_sizes.Where(s => s.StyleID == style1).Distinct().OrderBy(s => s.SeqNo).Select(s => s.SizeID).ToList();
                                foreach (string data in sizeIdLst)
                                {
                                    c.Properties.Items.Add(data);
                                }
                                if (sizeIdLst.Count == 1)
                                {
                                    c.SelectedIndex = 0; c.Enabled = false;
                                }
                                c.Properties.ClientSideEvents.SelectedIndexChanged = "getSelectedSizeDimView";
                                if (prevHistory.Size != "")
                                {
                                    foreach (DevExpress.Web.ListEditItem item in c.Properties.Items)
                                    {
                                        if (item.ToString() == prevHistory.Size)
                                        {
                                            c.SelectedIndex = c.Properties.Items.IndexOf(item);
                                        }
                                    }
                                }
                            }
                                            ).Render();

                    }
                    else
                    {
                        Html.DevExpress().ComboBox(
                            c =>
                            {
                                c.Name = "SizeDimview_" + "Drop_" + style;
                                List<string> sizeIdLst = (List<string>)entity.tblfsk_style_sizes.Where(s => s.StyleID == style).Distinct().OrderBy(s => s.SeqNo).Select(s => s.SizeID).ToList();
                                foreach (string data in sizeIdLst)
                                {
                                    c.Properties.Items.Add(data);

                                }
                                if (sizeIdLst.Count == 1)
                                {
                                    c.SelectedIndex = 0; c.Enabled = false;
                                }
                                c.Properties.ClientSideEvents.SelectedIndexChanged = "getSelectedSizeDimView";
                                if (prevHistory.Size != "")
                                {
                                    foreach (DevExpress.Web.ListEditItem item in c.Properties.Items)
                                    {
                                        if (item.ToString() == prevHistory.Size)
                                        {
                                            c.SelectedIndex = c.Properties.Items.IndexOf(item);
                                        }
                                    }
                                }
                            }
                                            ).Render();
                    }
                }
                else
                {
                    var content = "<fieldset class='swatch-picker' name=\"Swatch_DemSize_FieldSet_" + style + "\">";
                    if (style.Contains(','))
                    {
                        var styleArr = style.Split(',');
                        string style1 = styleArr[0].ToString();
                        List<string> sizeIdLst = (List<string>)entity.tblfsk_style_sizes.Where(s => s.StyleID == style1).Distinct().OrderBy(s => s.SeqNo).Select(s => s.SizeID).ToList();
                        foreach (string data in sizeIdLst)
                        {

                            if(sizeIdLst.Count>1)
                            {
                                if(prevHistory.Size==data)
                                {
                                    content = content + string.Format("<label><input type='radio'  id='radio' name=\"swatch_DemandSize_" + style + "\" class='' value='blue' checked=\"checked\"/><span style='display: block;border-radius:5px;  height:100%;width:100%;' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\"><center><bold>{1}</bold></center></span></label>", style, data);
                                }
                                else
                                {
                                    content = content + string.Format("<label><input type='radio'  id='radio' name=\"swatch_DemandSize_" + style + "\" class='' value='blue'/><span style='display: block;border-radius:5px;  height:100%;width:100%;' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\"><center><bold>{1}</bold></center></span></label>", style, data);
                                }

                            }
                            else
                            {
                                content = content + string.Format("<label><input type='radio'  id='radio'  name=\"swatch_DemandSize_" + style + "\" class='' value='blue' checked=\"checked\"/><span style='display: block;border-radius:5px;  height:100%;width:100%;' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\"><center><bold>{1}</bold></center></span></label>", style, data);
                            }

                        }
                    }
                    else
                    {
                        List<string> sizeIdLst = (List<string>)entity.tblfsk_style_sizes.Where(s => s.StyleID == style).Distinct().OrderBy(s => s.SeqNo).Select(s => s.SizeID).ToList();
                        foreach (string data in sizeIdLst)
                        {
                            if (sizeIdLst.Count > 1)
                            {
                                if (prevHistory.Size == data)
                                {
                                    content = content + string.Format("<label><input type='radio'  id='radio'  name=\"swatch_DemandSize_" + style + "\" class=''  checked=\"checked\" value='blue'/><span style='display: block;border-radius:5px;  height:100%;width:100%;' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\"><center><bold>{1}</bold></center></span></label>", style, data);
                                }
                                else
                                {
                                    content = content + string.Format("<label><input type='radio'  id='radio'  name=\"swatch_DemandSize_" + style + "\" class='' value='blue'/><span style='display: block;border-radius:5px;  height:100%;width:100%;' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\"><center><bold>{1}</bold></center></span></label>", style, data);
                                }
                            }
                            else
                            {
                                content = content + string.Format("<label><input type='radio'  id='radio' name=\"swatch_DemandSize_" + style + "\" class='' value='blue' checked=\"checked\"/><span style='display: block;border-radius:5px;  height:100%;width:100%;' onclick=\"getSelectedSizeDemandSwatch('{0}','{1}')\"><center><bold>{1}</bold></center></span></label>", style, data);
                            }
                        }
                    }
                    content = content + "</fieldset>";
                    ViewContext.Writer.Write(content);
                }

            });

        });

        settings.CardLayoutProperties.Items.Add(x =>
        {
            x.ColumnName = "Price";
            x.Caption = "Price";
            x.SetTemplateContent(col =>
            {
                Maximus.Models.PreviousQty prevHistory = (Maximus.Models.PreviousQty)(DataBinder.Eval(col.DataItem, "HasPreviousSize"));
                var style = (DataBinder.Eval(col.DataItem, "StyleID")).ToString();
                string businessId = Session["BuisnessId"].ToString();
                if (style.Contains(','))
                {
                    var styleArr = style.Split(',');
                    string style1 = styleArr[0].ToString();
                    var color = entity.tblfsk_style_colour.Any(s => s.StyleID == style1) == true ? entity.tblfsk_style_colour.Where(s => s.StyleID == style1).OrderBy(s => s.ColourID).FirstOrDefault().ColourID : "";
                    var size = entity.tblfsk_style_sizes.Any(s => s.StyleID == style1) == true ? entity.tblfsk_style_sizes.Where(s => s.StyleID == style1).OrderBy(s => s.SeqNo).Count() == 1 ? entity.tblfsk_style_sizes.Where(s => s.StyleID == style1).OrderBy(s => s.SeqNo).FirstOrDefault().SizeID : "" : "";
                    var price = size == "" ? "" : entity.tblfsk_style_sizes_prices.Any(s => s.StyleID == style1 && s.SizeID == size && s.BusinessId == businessId) == false ? "" : System.Math.Round(entity.tblfsk_style_sizes_prices.Where(s => s.StyleID == style1 && s.SizeID == size && s.BusinessId == businessId).FirstOrDefault().Price.Value, 2).ToString();
                    if (prevHistory.Size != "")
                    {
                        price = entity.tblfsk_style_sizes_prices.Any(s => s.StyleID == style1 && s.SizeID == size && s.BusinessId == businessId) == false ? "" : System.Math.Round(entity.tblfsk_style_sizes_prices.Where(s => s.StyleID == style1 && s.SizeID == prevHistory.Size && s.BusinessId == businessId).FirstOrDefault().Price.Value, 2).ToString();
                    }
                    if (Session["ColorSizestyle"].ToString() != "SWATCHES")
                    {
                        ViewContext.Writer.Write(string.Format("<div Id='DimviewPrice" + style + "'>{0}</div>", price));
                    }
                    else
                    {
                        ViewContext.Writer.Write(string.Format("<div name='DimviewPrice" + style + "'>{0}</div>", price));
                    }

                }
                else
                {
                    var color = entity.tblfsk_style_colour.Any(s => s.StyleID == style) == true ? entity.tblfsk_style_colour.Where(s => s.StyleID == style).OrderBy(s => s.ColourID).FirstOrDefault().ColourID : "";
                    var size = entity.tblfsk_style_sizes.Any(s => s.StyleID == style) == true ? entity.tblfsk_style_sizes.Where(s => s.StyleID == style).OrderBy(s => s.SeqNo).Count() == 1 ? entity.tblfsk_style_sizes.Where(s => s.StyleID == style).OrderBy(s => s.SeqNo).FirstOrDefault().SizeID : "" : "";
                    var price = size == "" ? "" : entity.tblfsk_style_sizes_prices.Any(s => s.StyleID == style && s.SizeID == size && s.BusinessId == businessId) == false ? "" : System.Math.Round(entity.tblfsk_style_sizes_prices.Where(s => s.StyleID == style && s.SizeID == size && s.BusinessId == businessId).FirstOrDefault().Price.Value, 2).ToString();
                    if (prevHistory.Size != "")
                    {
                        price = entity.tblfsk_style_sizes_prices.Any(s => s.StyleID == style && s.SizeID == prevHistory.Size && s.BusinessId == businessId) == false ? "" : System.Math.Round(entity.tblfsk_style_sizes_prices.Where(s => s.StyleID == style && s.SizeID == prevHistory.Size && s.BusinessId == businessId).FirstOrDefault().Price.Value, 2).ToString();
                    }
                    if (Session["ColorSizestyle"].ToString() != "SWATCHES")
                    {
                        ViewContext.Writer.Write(string.Format("<div Id='DimviewPrice" + style + "'>{0}</div>", price));
                    }
                    else
                    {
                        ViewContext.Writer.Write(string.Format("<div name='DimviewPrice" + style + "'>{0}</div>", price));
                    }
                }
            });


        });

        settings.CardLayoutProperties.Items.Add(x =>
        {
            x.Caption = "Quantity";
            x.SetTemplateContent(cont =>
            {
                var style = (DataBinder.Eval(cont.DataItem, "StyleID")).ToString();
                Html.DevExpress().SpinEdit(edit =>
                {
                    edit.Name = "spinEditDemand_" + style;
                    edit.Properties.AllowMouseWheel = true;
                    edit.Properties.AllowUserInput = true;
                    edit.Properties.MinValue = 1;
                    edit.Number = 1;
                    edit.Properties.MaxValue = 1000000;
                }).GetHtml();
            });

        });

        settings.CardLayoutProperties.Items.Add(x =>
        {
            x.Caption = "Reasons";
            x.SetTemplateContent(cont =>
            {
                var style = (DataBinder.Eval(cont.DataItem, "StyleID")).ToString();
                Html.DevExpress().ComboBox(edit =>
                {
                    edit.Name = "CmbReasonDemand_" + style;
                    string BusinessId = Session["BuisnessId"].ToString();
                    var reasons = entity.tblsop_reasoncodes.Where(xs => xs.BusinessId == BusinessId).Select(c => new { c.Description }).ToList();
                    if (reasons.Count > 0)
                    {
                        foreach (var dta in reasons)
                        {
                            edit.Properties.Items.Add(dta.Description);
                        }
                    }
                    else
                    {
                        edit.Enabled = false;
                        edit.ToolTip = "No return reasons found for the current customer";
                    }
                }).GetHtml();
            });

        });

        settings.CardLayoutProperties.Items.Add(x =>
        {
            x.Caption = " ";
            x.SetTemplateContent(cont =>
            {
                //  var style = (DataBinder.Eval(cont.DataItem, "StyleID")).ToString();
                var style = (DataBinder.Eval(cont.DataItem, "StyleID")).ToString();
                Maximus.Models.PreviousQty prevHistory = (Maximus.Models.PreviousQty)(DataBinder.Eval(cont.DataItem, "HasPreviousSize"));

                Html.DevExpress().Button(btn =>
                {
                    btn.Name = "CartbtnDemand_" + style + "_" + prevHistory.Size;
                    btn.ControlStyle.CssClass = "btn btn-primary";
                    btn.Text = "<b>Add to cart &nbsp;&nbsp;<span class='glyphicon glyphicon-shopping-cart'></span></b.";
                    btn.ClientSideEvents.Click = Session["ColorSizestyle"].ToString() != "SWATCHES" ? "addTocartDemand" : "addTocartDemandSwatch";
                    //settings.RenderMode = ButtonRenderMode.Link;
                    btn.EncodeHtml = false;
                }).GetHtml();
            });

        });
    });
    if (ViewData["EditError"] != null)
    {
        cardView.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@cardView.Bind(Model).GetHtml()
