

@if (Convert.ToBoolean(Session["Access"].ToString().ToLower() == "user"))
{
    <div class="row" style="background-color:white;">
        <div class="col-md-1" style="padding:0px;"></div>
        <div class="col-md-10">
            <div class="row" style="background:white;color:black;padding:10px">
                @{Html.RenderAction("SearchOrders");}
            </div>
        </div>
        <div class="col-md-1" style="padding:0px;"></div>
       
       
        <center>
            @Html.DevExpress().Button(s =>
       {
           s.Name = "resetBtn";
           s.UseSubmitBehavior = false;
           s.Text = "Reset";
           s.ClientSideEvents.Click = "GetallOrders";
       }).GetHtml()
        </center><br />
    </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-1" style="padding:0px;"></div>
                            <div class="col-md-10">
                                <div class="row" style="background:white;color:black;padding:10px">
                                    <div class="col-md-4" style="padding:25px">
                                        @{Html.RenderAction("EmpFiltersOrders");}
                                    </div>

                                    <div class="col-md-8" style="padding:25px">
                                        @{Html.RenderAction("SearchOrders");}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" style="padding:0px;"></div>
                             
                            
                        </div>
                        <div class="row" style="padding-top:0px;">
                            <hr />
                            <center>
                                @Html.DevExpress().Button(s =>
       {
           s.Name = "resetBtn";
           s.UseSubmitBehavior = false;
           s.Text = "Reset";
           s.ClientSideEvents.Click = "GetallOrders";
       }).GetHtml()
                            </center>
                        </div>
                                            }

