@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "UserGridview";
        settings.CallbackRouteValues = new { Controller = "Employee", Action = "UserGridviewPartial" };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Employee", Action = "UserGridviewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Employee", Action = "UserGridviewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Employee", Action = "UserGridviewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = false;
        settings.CommandColumn.ShowNewButton = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;

        settings.KeyFieldName = "UserId";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;
        settings.Columns.Add("UserId").Caption= "Username";
        settings.Columns.Add("Name");
        settings.Columns.Add("IsActive").Caption="Active";
        settings.Columns.Add("EmailId");
        settings.Columns.Add("Access");
        settings.Columns.Add(col => {
            col.FieldName = "";
            col.SetDataItemTemplateContent(set => {
                var username = DataBinder.Eval(set.DataItem, "UserId").ToString();
                var IsActive= DataBinder.Eval(set.DataItem, "IsActive").ToString();
                string content = "";
                //content = "<button class=\"btn btn-primary\" style=\"background-color:#009885;color:white\" onclick=\"\">Change password</button> &nbsp;&nbsp;&nbsp; <button class=\"btn btn-primary\" style=\"background-color:#009885;color:white\" onclick=\"ResetToGeneric('"+ username + "','"+IsActive+"')\">Reset Password</button> ";
                content = "<button class=\"btn btn-primary\" style=\"background-color:#009885;color:white\" onclick=\"ResetToGeneric('" + username + "','" + IsActive + "')\">Reset Password</button> ";
                ViewContext.Writer.Write(content);

            });

        });
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()
