@media  (min-width: 1400px) {
  .container1 {
    width: 1295px;
  }
}
 
@media (min-width: 1600px) {
  .container1 {
    width: 1500px;
  }
}
@media (min-width: 1900px) {
  .container1 {
    width: 1700px;
  }
}
 

.container1 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
 