<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        @Html.DevExpress().TextBox(
       set=> {
           set.Name = "fpwdUserId";
           set.Properties.Caption = "Username";
           set.Properties.ValidationSettings.RequiredField.ErrorText = "Username is required";
           set.Properties.ValidationSettings.RequiredField.IsRequired = true;
           set.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
           set.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
       }).GetHtml()
        <br />
        <br />
        @Html.DevExpress().TextBox(
       set =>
       {
           set.Name = "fpwdFrstName";
           set.Properties.Caption = "Firstname";
           set.Properties.ValidationSettings.RequiredField.ErrorText = "Firstname is required";
           set.Properties.ValidationSettings.RequiredField.IsRequired = true;
           set.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
           set.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
       }).GetHtml()
        <br />
        <br />
        @Html.DevExpress().TextBox(
       set =>
       {
           set.Name = "fpwdSurName";
           set.Properties.Caption = "Surname";
           set.Properties.ValidationSettings.RequiredField.ErrorText = "Surname is required";
           set.Properties.ValidationSettings.RequiredField.IsRequired = true;
           set.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
           set.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
       }).GetHtml()
        <br />
        <br />
      <center>@Html.DevExpress().Button(btn =>
         {
             btn.Name = "btnfwReset";
             btn.Text = "Reset";
             btn.UseSubmitBehavior = false;
             btn.ClientSideEvents.Click = "ResetPassword";
         }).GetHtml()</center>  
    </div>
    <div class="col-md-1"></div>
</div>
